name: Linter

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  linting:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
      - uses: oxsecurity/megalinter/flavors/python@v9
        env:
          DISABLE_LINTERS: SPELL_CSPELL # we don't want to maintain a local dictionary
          PRINT_ALPACA: false
          VALIDATE_ALL_CODEBASE: false
